<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.dds.temple1.ConnectActivity"
            android:exported="false"
            android:label="local network"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dds.temple1.Temple1Activity"
            android:exported="false"
            android:label="ConnectActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>