<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Temple0Activity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name="com.dds.temple0.ui.UserHomeActivity"
            android:exported="false" />
    </application>

</manifest>